<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/css/imagens/favicon.ico">
    <title>Meus livros</title>
</head>
<body>
    <header id="pagina2">
        <h1>Minha estante particular</h1>
        
        <nav>
            <a href="index.html">Home</a>
            <a href="meuslivros.html">Meus Livros</a>
            <a href="querocomprar.html">Quero comprar</a>
            <a href="favoritos.html">Favoritos</a>
        </nav>
    </header>
</body>
</html>